$font-body: "Open Sans", Verdana, Tahoma, sans-serif;
$font-header: "Peralta", "Rockwell", serif;

$color-fondo: #92a968;
$color-verde-gris: #e5edd7;
$color-verde-negro: #12260D;
$color-gris-logo: #aeb5ac;
$color-item-selected: #2b401f;
$color-item-hover: #b7c3a0;
$color-link: #b53e03;

$min-sidebar: 500px;
