<!DOCTYPE html>{% import "macros.html" as macros %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Error 500 | No Solo Chistes</title>
  {{ macros.styles() }}
</head>
<body>
  {{ macros.header() }}
  <div class="content">
    <main role="main">
      <header class="card" style="margin-left: auto; margin-right: auto;">
        <h1 style="font-size: 4rem">🤖💥</h1>
        <p>Parece que ha ocurrido un error en el servidor. En otras palabras…
        la hemos liado parda. Los responsables de este fallo serán debidamente
        azotados por su incompetencia.</p>
        <p>Pues eso. Inténtalo más tarde… o no.</p>
      </header>
    </main>
  </div>
</body>
</html>
