<!DOCTYPE html>{% import "macros.html" as macros %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, follow">
  <title>Aviso legal | No Solo Chistes</title>
  {{ macros.styles() }}
  <style media="screen">
    a {
      color: black;
      text-decoration: underline;
    }
    ul {
      padding-left: 32px;
      list-style: lower-roman;
    }
  </style>
</head>
<body>
  {{ macros.header() }}
  <div class="content">
    <main role="main">
      <header class="card" style="margin-left: auto; margin-right: auto;">
        <h1>Aviso legal ⚖</h1>
        <p><small>Última modificación: el 22 de noviembre de 2017</small></p>
        <p>El acceso a los servicios ofrecidos por el sitio web
          <strong>nosolochistes.com</strong> supone la aceptación sin reservas de las
          presentes condiciones.
        </p>
        <h3>Modificaciones</h3>
        <p>
          <i>No Solo Chistes</i> se reserva el derecho a modificar la presente política de
          privacidad, caso de considerarlo necesario por cambios legislativos o
          cualquier otra causa. Cualquier modificación será publicada al menos diez días
          antes de su efectiva aplicación. El acceso a <i>No Solo Chistes</i> después de la
          fecha en que se hubieran producido dichos cambios implicará la aceptación de
          los términos de la versión actualizada.
        </p>
        <h2>Condiciones de uso</h2>
        <h3>Propiedad intelectual e industrial</h3>
        <p>
          <i>No Solo Chistes</i>, por sí o como cesionario, es titular de todos los derechos de
          reproducción, difusión, adaptación y modificación de sus páginas web y
          aplicaciones, así como de los elementos contenidos en las mismas.
          Todo el contenido de <i>No Solo Chistes</i> se proporciona bajo los términos de la
          licencia <a href="http://creativecommons.org/licenses/by-nc/3.0/es/deed.es"> Creative Commons BY-NC 3.0</a>.
          Queda expresamente prohibida cualquier forma de reproducción,
          distribución o comunicación pública del contenido, que no esté contemplada en
          dicha licencia, salvo autorización expresa de <i>No Solo Chistes</i>.
        </p>
        <h3>Enlaces externos</h3>
        <p>
          <i>No Solo Chistes</i> puede contener enlaces a páginas web de terceros.
          <i>No Solo Chistes</i> no asume ninguna responsabilidad por la información contenida
          en dichas páginas web.
        </p>
        <h3>Exclusión de garantías y responsabilidad</h3>
        <p>
          <i>No Solo Chistes</i> no se hace responsable, en ningún caso, de los daños y
          perjuicios de cualquier naturaleza que se pudieran ocasionar, a título
          enunciativo: por errores u omisiones en los contenidos, por falta de
          disponibilidad del sitio web —el cual realizará paradas periódicas por
          mantenimientos técnicos— así como por la transmisión de virus o programas
          maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las
          medidas tecnológicas necesarias para evitarlo.
        </p>
        <h2>Política de Privacidad y <i>Cookies</i></h2>
        <h3>Ficheros de log</h3>
        <p>
          Como la mayoría de webs, <i>No Solo Chistes</i> hace uso de ficheros de log, donde
          se registran los datos que el navegador envía al servidor. Estos datos
          incluyen la dirección IP del Usuario, el tipo de navegador, un sello de fecha
          y hora, y la página desde la que se accede. Esta información se utiliza para
          obtener estadísticas de acceso y navegación, información demográfica y
          analizar el rendimiento del servidor.
        </p>
        <h3 id="cookies">Política de <i>cookies</i></h3>
        <p>
          Asimismo, <i>No Solo Chistes</i> hace uso de <i>cookies</i>. Las <i>cookies</i> son pequeños
          ficheros con información que el servidor envía al navegador para su
          almacenamiento y posterior consulta.
        </p>
        <p>
          <i>No Solo Chistes</i> incluye servicios de terceros, los cuales instalan <i>cookies</i> en
          el navegador del Usuario:
        </p>
        <ul>
          <li>
            <strong>Google Analytics</strong>: servicio ofrecido por la empresa Google
            Inc., usado para generar y gestionar estadísticas de acceso.
          </li>
          <li>
            <strong>Google Adsense</strong>: servicio de publicidad contextual ofrecido
            por Google Inc.
          </li>
        </ul>
        <p>
          Las políticas de privacidad y <i>cookies</i> de Google Inc. son accesibles a través de
          las siguientes páginas:
        </p>
        <p><strong>Privacidad</strong>:</p>
        <ul>
          <li><a href="https://support.google.com/analytics/answer/6004245?hl=es">Google Analytics</a></li>
          <li><a href="https://www.google.com/policies/technologies/ads/">Google Adsense</a></li>
          <li><a href="https://www.google.com/intl/es/policies/privacy/">Google Inc.</a></li>
        </ul>
        <p><strong><i>Cookies</i></strong>:</p>
        <ul>
          <li><a href="https://www.google.com/policies/technologies/cookies/">Google Inc.</a></li>
        </ul>
        <p>
          El Usuario podrá, en cualquier momento, elegir qué <i>cookies</i> quiere que
          funcionen en este sitio web mediante la configuración del navegador. Por
          ejemplo:
        </p>
        <ul>
          <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
          <li><a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-#w_configurar-las-cookies">Mozilla Firefox</a></li>
          <li><a href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq">Microsoft Edge</a></li>
          <li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer</a></li>
          <li><a href="https://support.apple.com/kb/PH21411?viewlocale=es_ES&amp;locale=es_ES">Safari</a></li>
          <li><a href="http://help.opera.com/opera/Windows/2178/es-ES/controlPages.html#manageCookies">Opera</a></li>
        </ul>
        <p>
          Además, Google Inc. pone a disposición del Usuario un complemento para
          navegadores que permite evitar que Google Analytics use sus datos. Dicho
          complemento se encuentra disponible en la siguiente dirección:
        </p>
        <p><a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>
        <h2>Legislación aplicable y jurisdicción</h2>
        <p>
          Las presentes condiciones se rigen por la legislación española. El Usuario y
          <i>No Solo Chistes</i> se someten a los Juzgados y tribunales de la ciudad española
          de Dos Hermanas, salvo que la Ley aplicable disponga otra cosa.
        </p>
      </header>
    </main>
  </div>
</body>
</html>
