<!DOCTYPE html>{% import "macros.html" as macros %}
<html lang="es">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3251472122625108",
      enable_page_level_ads: true
    });
  </script>
  {{ macros.styles() }}
  {% endblock %}
</head>
<body>
  {{ macros.header() }}
  <div class="content">
    {{ macros.sidebar(id, categories) }}
    <main role="main">
      {% block tabs %}
      {% endblock %}
      <header class="card">{% block header %}{% endblock %}</header>
      {% block content %}
      {{ macros.lista(items, category) }}
      {% endblock %}
    </main>
  </div>
  {{ macros.analytics() }}
  {% include "script.html" %}
</body>
</html>
