<!DOCTYPE html>{% import "macros.html" as macros %}
<html lang="es">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if paginacion.anterior %}
  <link rel="prev" href="{{paginacion.anterior}}">
  {% endif %}
  {% if paginacion.siguiente %}
  <link rel="next" href="{{paginacion.siguiente}}">
  {% endif %}
  {% if canonical %}
  <link rel="canonical" href="{{canonical}}">
  {% endif %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3251472122625108",
      enable_page_level_ads: true
    });
  </script>
  {{ macros.styles() }}
  {#-
  <!-- Hotjar Tracking Code for https://feti-chistes.es -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:833853,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  -#}
  {% endblock %}
</head>
<body>
  {{ macros.header() }}
  <div class="content">
    {{ macros.sidebar(id, categories) }}
    <main role="main">
      <div class="lista">
        {% block tabs %}
        {% endblock %}
        <header class="card">{% block header %}{% endblock %}</header>
        {% block content %}
        {{ macros.lista(items, category) }}
        <nav class="pags">
        {% if paginacion.anterior %}
          <a class="btn pag" href="{{paginacion.anterior}}">Anteriores</a>
        {% endif %}
        {% if paginacion.siguiente %}
          <a class="btn pag" href="{{paginacion.siguiente}}">Siguientes</a>
        {% endif %}
        </nav>
        {% endblock %}
      </div>
      <div class="rightside">
        <!-- FCH - Sidebar -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:600px"
             data-ad-client="ca-pub-3251472122625108"
             data-ad-slot="1858189073"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      {% set itemId = chiste._id if chiste else '' %}
      {{ macros.social('global', 'https://feti-chistes.es/', itemId)}}
    </main>
  </div>
  {{ macros.cookies() }}
  {{ macros.popup_link() }}
  {{ macros.analytics() }}
  <script type="text/javascript">
    {% include "main.js" %}
    {% include "socials.js" %}
  </script>
</body>
</html>
