{% extends "blog_base.html" %}

{% block head %}
  {{ super() }}
  <title>{{ post.title }} | No Solo Chistes</title>
  <meta name="description" content="{{ post.description}}">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:description" content="{{ post.description }}">
  <meta property="og:type" content="article">
{% endblock %}

{% block main %}
  <article class="centered">
    {{ post.html | safe }}
  </article>
  <aside class="comments centered">
    {{ macros.disqus(post.url, post.id) }}
  </aside>
{% endblock %}
