{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
  var infolinks_pid = 3171659;
  var infolinks_wsid = 1;
  </script>
  <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
  <title>Chistes buenos, no… ¡Buenérrimos! | No Solo Chistes</title>
  <meta name="description" content="Prepárate a llorar de risa con los chistes más votados de nuestra selección. Chistes buenos de todas las categorías, cortos y largos, verdes, blancos y negros…">
{% endblock %}

{% block header %}
  <h1>Chistes buenos</h1>
  {% if not paginacion.anterior %}
  <p>Chistes buenos de todas las categorías, cortos y largos, verdes, blancos y negros…</p>
  <p>Prepárate a llorar de risa… con los <strong>chistes más votados</strong> de nuestra selección.</p>
  {% endif %}
{% endblock %}

{% block tabs %}
{{ macros.tabs(id)}}
{% endblock %}
