{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>{{ categories | length }} tipos de chistes | No Solo Chistes</title>
  <link rel="canonical" href="https://nosolochistes.com/tipos-de-chistes">
{% endblock %}

{% block header %}
  <h1>Tipos de chistes</h1>
  <p><i>No Solo Chistes</i> lleva desde el año 2009 recibiendo cientos de chistes de
    todas las clases imaginables, y clasificándolos cuidadosamente cual entomólogo
    con su colección de mariposillas. He aquí la lista completa de los
    {{ categories | length }} tipos de chistes identificados hasta el momento.</p>
{% endblock %}

{% block content %}
{% set label = [ '',
  'Categorías principales',
  'Categorías secundarias',
  'Otras categorías'
  ] %}
  <section class="card cloud" role="navigation">
  {% for level, cats in categories | groupby('level') %}
    <ul class="level{{level}}" aria-label="{{ label[level] }}">
    {% for cat in cats %}
      <li><a href="/chistes/{{ cat._id }}">{{ cat.menu }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </section>
{% endblock %}
