{% extends "base.html" %}

{% if category.description %}
  {% set description = category.description %}
{% else %}
  {% set description %}Los {{ category.title | lower }} más graciosos, cortos, largos, y de todos los colores. Respira hondo y prepárate a reír un rato.{% endset %}
{% endif %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ description }}">
  <title>{{ category.title }} | No Solo Chistes</title>
{% endblock %}

{% block header %}
  <h1>{{ category.title }}</h1>
  {% if not paginacion.anterior %}
  <p>{{ description }}</p>
  {% endif %}
{% endblock %}
