{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="canonical" href="https://nosolochistes.com/chiste/{{ chiste._id }}">
  <meta name="robots" content="noindex, follow">
  <title>Chiste: {{ chiste.titulo }} | Feti-chistes</title>
{% endblock %}

{% block content %}
  <article class="card">
    <header>
      <h2 class="title"><a href="/chiste/{{ chiste._id }}">{{ chiste.titulo }}</a></h2>
      <small class="author">Enviado por <em class="name">{{ chiste.autor }}</em>,
        <time datetime="{{ chiste.datetime }}">{{ chiste.fecha }}</time>
      </small>
    </header>
    <div class="text">{{ chiste.texto | striptags(true) | escape | nl2br }}</div>
    <footer class="show-on-fa">
      <span class="actions">
        <button type="button" class="btn vote up" id="vup:{{ chiste._id }}" aria-pressed="false"><i class="fas fa-thumbs-up" title="Me gusta"></i><span class="nvotes">{{ chiste.ups }}</span><span class="sr-only"> votos positivos</span></button>
        <button type="button" class="btn vote down" id="vdown:{{ chiste._id }}" aria-pressed="false"><i class="fas fa-thumbs-down" title="No me gusta"></i><span class="nvotes">{{ chiste.downs }}</span><span class="sr-only"> votos negativos</span></button>
      </span>
      <small class="category"><i class="fas fa-folder-open" title="Categoría"></i> <a href="/chistes/{{ chiste.categoria._id }}">{{ chiste.categoria.menu }}</a></small>
    </footer>
  </article>
{% endblock %}
