{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>Chiste: {{ chiste.titulo }} | Feti-chistes</title>
{% endblock %}

{% block content %}
  <article class="card">
    <header>
      <h2 class="title"><a href="/chiste/{{ chiste._id }}">{{ chiste.titulo }}</a></h2>
      <small class="author">Enviado por <em class="name">{{ chiste.autor }}</em>,
        el <time datetime="{{ chiste.datetime }}">{{ chiste.fecha }}</time>
      </small>
    </header>
    <div class="text">{{ chiste.texto | striptags(true) | escape | nl2br }}</div>
    <footer>
      <small class="category">Archivado en: <a href="/chistes/{{ chiste.categoria._id }}">{{ chiste.categoria.menu }}</a></small>
    </footer>
  </article>
{% endblock %}
