{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
  var infolinks_pid = 3171659;
  var infolinks_wsid = 1;
  </script>
  <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
  <title>Chistes cortos | No Solo Chistes</title>
  <meta name="description" content="Aquí tienes todos los chistes cortos de nuestra selección. Algunos son tan cortos que estás más tiempo riéndote que contándolos.">
{% endblock %}

{% block header %}
<h1>Chistes cortos</h1>
{% if not paginacion.anterior %}
<p>Aquí tienes <strong>todos los chistes cortos</strong> de nuestra selección (menos de 200 caracteres). Algunos son tan cortos que estás más tiempo riéndote que contándolos.</p>
{% endif %}
{% endblock %}

{% block tabs %}
{{ macros.tabs(id)}}
{% endblock %}
