{% set sections = {
  'portada': { tab: 'Portada', url: '/' },
  'Chistes buenos': { tab: 'Buenos', url: '/chistes-buenos' },
  'Chistes cortos': { tab: 'Cortos', url: '/chistes-cortos' }
} %}
{% macro header() %}
  <header class="site-header" role="banner">
    <div class="left">
      <a title="chistes" class="logo" href="/">No Solo Chistes</a>
    </div>
    <div class="right">
      <button type="button" class="burger btn show-on-fa" id="btn-menu" aria-controls="nav-menu"><i class="fas fa-bars fa-2x" title="Menú"></i></button>
    </div>
  </header>
{% endmacro %}

{% macro blogheader() %}
  <header class="blog-header" role="banner">
    <div class="centered">
      <a title="NoSoloChistes.com" class="logo" href="/">No Solo Chistes</a>
      <button type="button" class="menu-btn mb-only show-on-fa" id="btn-menu" aria-controls="nav-menu">
        <i class="burger fas fa-bars fa-2x" title="Menú de navegación"></i>
        <i class="close fas fa-times fa-2x" title="Cerrar menú"></i>
      </button>
    </div>
  </header>
  <nav class="top-menu" role="navigation" id="nav-menu">
    <div class="centered">
      <ul class="top-mnu-items">
        <li><a href="/">Chistes</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/zombies">Zombies</a></li>
        <li><a href="/frikismo">Frikismo</a></li>
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro blogfooter() %}
  <footer class="blog-footer" role="contentinfo">
    <ul class="footer-nav">
      <li><a href="/acerca-de">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/aviso">Aviso legal</a></li>
      <li><a href="/aviso#cookies">Política de cookies</a></li>
    </ul>
    © NoSoloChistes.com – Todos los derechos reservados
  </footer>
{% endmacro %}

{% macro sidebar(section, categories) %}
  <aside class="sidebar" role="complementary" id="nav-menu">
    <nav class="sections" aria-label="Secciones" role="navigation">
      <ul>
        {% for title, data in sections %}
        {% if title === section %}
        <li class="selected"><a href="{{ data.url }}">{{ title | capitalize }}</a></li>
        {% else %}
        <li><a href="{{ data.url }}">{{ title | capitalize }}</a></li>
        {% endif %}
        {% endfor %}
        <!-- <li><a href="/blog">Blog</a></li> -->
      </ul>
    </nav>
    <nav role="navigation">
      <h2>Chistes de…</h2>
      <ul>
        {% for cat in categories %}
        {% if cat.level === 1 %}
          {% if cat._id === section %}
          <li class="selected"><a href="/chistes/{{ cat._id }}">{{ cat.menu | capitalize }}</a></li>
          {% else %}
          <li><a href="/chistes/{{ cat._id }}">{{ cat.menu | capitalize }}</a></li>
          {% endif %}
        {% endif %}
        {% endfor %}
          <li class="more"><a href="/tipos-de-chistes">Más categorías…</a></li>
      </ul>
    </nav>
    <nav class="footer" role="contentinfo">
      <ul>
        <li><a href="/acerca-de">Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/aviso">Aviso legal</a></li>
        <li><a href="/aviso#cookies">Política de cookies</a></li>
        <li><a href="https://anekdotaro.tumblr.com/" rel="nofollow">En esperanto…</a></li>
      </ul>
    </nav>
  </aside>
{% endmacro %}

{% macro tabs(section) %}
  <nav class="tabs" aria-label="Secciones" role="navigation">
    <ul>
      {% for title, data in sections %}
      {% if title === section %}
      <li class="selected"><a href="{{ data.url }}">{{ data.tab | capitalize }}</a></li>
      {% else %}
      <li><a href="{{ data.url }}">{{ data.tab | capitalize }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}

{% macro lista(items, category) %}
  {% for item in items %}
    <article class="card" id="{{ item._id }}">
      <header>
        <h2 class="title"><a href="/chiste/{{ item._id }}">{{ item.titulo }}</a></h2>
        <small class="author">Enviado por <em class="name">{{ item.autor }}</em>,
          <time class="date" datetime="{{ item.datetime }}">{{ item.fecha }}</time>
        </small>
      </header>
      <div class="text">{{ item.texto | striptags(true) | escape | nl2br }}</div>
      <footer class="show-on-fa">
        <span class="actions">
          <button type="button" class="btn vote up" id="vup:{{ item._id }}" aria-pressed="false"><i class="fas fa-thumbs-up" title="Me gusta"></i><span class="nvotes">{{ item.ups }}</span><span class="sr-only"> votos positivos</span></button>
          <button type="button" class="btn vote down" id="vdown:{{ item._id }}" aria-pressed="false"><i class="fas fa-thumbs-down" title="No me gusta"></i><span class="nvotes">{{ item.downs }}</span><span class="sr-only"> votos negativos</span></button>
          <button type="button" class="btn expand-share" aria-controls="share:{{ item._id }}" aria-expanded="false" data-card-id="{{ item._id }}"><i class="fas fa-share-alt" title="Compartir"></i></button>
        </span>
        {% if not category %}
        <small class="category"><i class="fas fa-folder-open" title="Categoría"></i> <a href="/chistes/{{ item.categoria._id }}">{{ item.categoria.menu }}</a></small>
        {% endif %}
        {{ social('item', item._id) }}
      </footer>
    </article>
    {% if loop.first %}
    <!-- AD Slot -->
    {#-
    <aside class="card">
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-el+6n+f-lc+11t"
           data-ad-client="ca-pub-3251472122625108"
           data-ad-slot="6976556913"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </aside>
    -#}
    {% elif (loop.last and loop.length <=5) or (loop.index == 5 and not loop.last) %}
    <aside class="mb-only see-also card">
      <h2 class="title">Otras categorías…</h2>
      <ul>
        {% if category -%}
        <li><a href="/chistes-cortos">Chistes Cortos</a></li>
        <li><a href="/chistes-buenos">Chistes Buenos</a></li>
        {% endif -%}
        {%- if category._id != 'humor-negro' -%}
        <li><a href="/chistes/humor-negro">Chistes de Humor Negro</a></li>
        {% endif -%}
        {%- if category._id != 'verdes' -%}
        <li><a href="/chistes/verdes">Chistes Verdes</a></li>
        {% endif -%}
        {%- if category._id != 'feministas' -%}
        <li><a href="/chistes/feministas">Chistes Feministas</a></li>
        {% endif -%}
        {%- if category._id != 'borrachos' -%}
        <li><a href="/chistes/borrachos">Chistes de Borrachos</a></li>
        {% endif -%}
        <li><a href="/tipos-de-chistes" class="more">Más categorías…</a></li>
      </ul>
    </aside>
    {% elif (loop.last and loop.length <=10 and loop.length > 5) or (loop.index == 10 and not loop.last) %}
    <aside class="mb-only see-also card">
      <h2 class="title">Otras categorías…</h2>
      <ul>
        {%- if category._id != 'pepito' -%}
        <li><a href="/chistes/pepito">Chistes de Pepito</a></li>
        {% endif -%}
        {%- if category._id != 'chinos' -%}
        <li><a href="/chistes/chinos">Chistes de Chinos</a></li>
        {% endif -%}
        {%- if category._id != 'preguntas-respuestas' -%}
        <li><a style="font-size: 0.9em" href="/chistes/preguntas-respuestas">Chistes de Pregunta y Respuesta</a></li>
        {% endif -%}
        {%- if category._id != 'animales' -%}
        <li><a href="/chistes/animales">Chistes de Animales</a></li>
        {% endif -%}
        <li><a href="/tipos-de-chistes" class="more">Más categorías…</a></li>
      </ul>
    </aside>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro social(type, url, id) %}
  {% if type == 'item' %}
    <div class="share-item" id="share:{{ url }}" aria-label="Compartir este chiste en redes sociales" data-url="https://nosolochistes.com/chiste/{{ url }}">
      <button type="button" class="btn-social" title="Facebook"><i class="fab fa-lg fa-facebook-f"></i></button>
      <button type="button" class="btn-social" title="Twitter"><i class="fab fa-lg fa-twitter"></i></button>
      <button type="button" class="btn-social" title="WhatsApp"><i class="fab fa-lg fa-whatsapp"></i></button>
      <button type="button" class="btn-social" title="Google+"><i class="fab fa-lg fa-google-plus-g"></i></button>
      <button type="button" class="btn-social" title="Copiar enlace"><i class="fas fa-lg fa-link"></i></button>
    </div>
  {% else %}
    <aside id="{{ id }}" class="share show-on-fa" aria-label="Compartir esta página en redes sociales" role="region">
      <button type="button" class="btn-social" title="Facebook"><i class="fab fa-2x fa-facebook-f"></i></button>
      <button type="button" class="btn-social" title="Twitter"><i class="fab fa-2x fa-twitter"></i></button>
      <button type="button" class="btn-social" title="WhatsApp"><i class="fab fa-2x fa-whatsapp"></i></button>
      <button type="button" class="btn-social" title="Google+"><i class="fab fa-2x fa-google-plus-g"></i></button>
      <button type="button" class="btn-social" title="Copiar enlace"><i class="fas fa-2x fa-link"></i></button>
    </aside>
  {% endif %}
{% endmacro %}

{% macro popup_link() %}
  <div class="popup-bg" tabindex="-1"></div>
  <div role="dialog" aria-modal="true" class="popup" aria-labelledby="copy-title">
    <button class="btn btn-close-copy" type="button" aria-label="Cerrar"><i class="fas fa-2x fa-times-circle"></i></button>
    <h2 id="copy-title">Copiar enlace</h2>
    <p><i class="fas fa-link"></i> <span id="link-title"></span></p>
    <input readonly id="link-input" class="link-input" type="text" value="">
    <button class="btn btn-copy-link" type="button">Copiar</button>
    <div class="msg-copied" aria-hidden="true"><i class="fas fa-info-circle"></i> &nbsp;Enlace copiado</div>
  </div>
{% endmacro %}

{% macro styles(section='main', peralta=true) %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  {% if peralta -%}
  <script>
    WebFontConfig = {
      google: {
        families: ['Peralta']
      }
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
  {%- endif %}
  <style media="screen">
    {% include section + ".css" %}
  </style>
{% endmacro %}

{% macro analytics() %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2285758-4', 'auto');
  ga('send', 'pageview');
</script>
{% endmacro %}

{% macro cookies() %}<div class="cconsent">Usamos cookies de terceros para
  analizar el tráfico y uso de la web. Si
  continúas navegando, entendemos que aceptas esto.
  <span class="block"><a href="/aviso#cookies">Más información</a>
  <button type="button" class="close">Cerrar</button></span></div>
{% endmacro %}

{% macro disqus(url, id) -%}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ url }}';
      this.page.identifier = '{{ id }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://feti-chistes.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Por favor, habilita JavaScript para ver los <a rel="nofollow" href="https://disqus.com/?ref_noscript">comentarios alojados en Disqus.</a></noscript>
{%- endmacro %}
