{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>¡Chistes! | Feti-chistes</title>
  <meta name="description" content="Bienvenidos a No Solo Chistes: Una selección de los mejores chistes, cuidadosamente seleccionados, ordenados y catalogados, cual colección de mariposillas.">
{% endblock %}

{% block header %}
<h1>Chistes de portada</h1>
{% if not paginacion.anterior %}
<p>Bienvenidos a <strong>No Solo Chistes</strong>: Una selección de los mejores chistes, cuidadosamente seleccionados, ordenados y catalogados, con mimo y con esmero, cual colección de mariposillas.</p>
<p>A continuación tienes los <strong>chistes destacados</strong> de nuestra colección.</p>
{% endif %}
{% endblock %}

{% block tabs %}
{{ macros.tabs('portada')}}
{% endblock %}
